@use "../../variables" as *;

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25%;
    height: calc(100vh - 120px);
    margin-top: -60px;
    gap: 1.5rem;
    scroll-snap-align: start;

    @media only screen and (max-width: 450px) {
        padding: 0 3%;
        height: calc(100vh - 80px);
        padding-top: 80px;
    }

    .homeTop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span {
                font-size: 5rem;
                font-family: "Sego";
                background: $rainbowNeon;
                background-clip: text;
                color: transparent;
                background-size: 200% 200%;
                animation: gradient-animation 1.5s linear infinite;
                text-shadow: 0px 0px 10px rgba($neonYellow, 0.25);

                @media only screen and (max-width: 450px) {
                    font-size: 3rem;
                }
            }
            .top {
                padding-left: 0.5rem;
                line-height: 5.5rem;

                @media only screen and (max-width: 450px) {
                    line-height: 4rem;
                }
            }
            .bottom {
                line-height: 8rem;
                padding-left: 0.5rem;
                margin-top: -2rem;

                @media only screen and (max-width: 450px) {
                    line-height: 6rem;
                }
            }
        }

        .desc {
            text-align: center;

            @media only screen and (max-width: 450px) {
                font-size: 0.7rem;
            }
        }
    }

    a {
        text-decoration: none;
    }

    .discordJoin {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.8rem 2rem;
        background: $blurple;
        border-radius: 50px;
        box-shadow: 0px 0px 5px 0px $blurple;
        border: none;

        @media only screen and (max-width: 450px) {
            padding: 0.9rem 1.9rem;
            background: linear-gradient(
                90deg,
                $blurple 0%,
                $blue 50%,
                $blurple 100%
            );
            animation: gradient-animation 2s linear infinite;
            background-size: 200% 200%;
        }

        &:hover {
            cursor: pointer;
            background: linear-gradient(
                90deg,
                $blurple 0%,
                $blue 50%,
                $blurple 100%
            );
            animation: gradient-animation 2s linear infinite;
            background-size: 200% 200%;
        }
        img {
            height: 50px;
            text-shadow: 0px 0px 4px white;
            filter: drop-shadow(0px 0px 2px white);

            @media only screen and (max-width: 450px) {
                height: 30px;
            }
        }

        p {
            font-size: 1.3rem;
            font-weight: 600;
            text-shadow: 0px 0px 2px white;

            @media only screen and (max-width: 450px) {
                font-size: 1.3rem;
            }
        }
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
