@import "../../variables";

.rewardsShop {
    padding: 2rem 25%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;

    @media only screen and (max-width: 450px) {
        padding: 10rem 5%;
    }

    .earnPoints {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        box-sizing: border-box;
        width: 100%;

        .earnPointsTop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .earnPointsTitle {
                font-size: 4rem;
                background: linear-gradient(
                    90deg,
                    $neonRed,
                    $neonYellow,
                    $neonYellow,
                    $neonRed
                );
                background-clip: text;
                color: transparent;
                text-shadow: 0px 0px 5px rgba($neonYellow, 0.25);
                background-size: 200% 200%;
                animation: gradient-animation 1s linear infinite;

                @media only screen and (max-width: 450px) {
                    font-size: 2.5rem;
                }
            }
            .titleLine {
                width: 100%;
                height: 1px;
                margin: 1rem 0;
                background: $gradRedYellow;
                box-shadow: 0px 0px 5px 0px $neonYellow;
            }
        }

        .earnPointsShop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            width: 100%;

            @media only screen and (max-width: 450px) {
                width: 90%;
            }

            .signUpBonus,
            .serverBoost,
            .serverSub {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                box-sizing: border-box;
                width: 100%;

                @media only screen and (max-width: 450px) {
                    flex-direction: column;
                    width: 95vw;
                }

                .infoLabel {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(90deg, $neonRed, $neonOrange);
                    border-radius: 35px;
                    box-shadow: 0px 0px 2px 0px $neonYellow;
                    gap: 1rem;
                    padding: 17px 20px;
                    border: none;
                    width: 100%;
                    box-sizing: border-box;
                    min-width: 0;
                    min-height: 0;

                    @media only screen and (max-width: 450px) {
                        width: 100%;
                    }

                    .labelText {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h4 {
                            font-size: 1.5rem;
                            text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
                            font-weight: 500;
                            white-space: nowrap;

                            @media only screen and (max-width: 450px) {
                                font-size: 1.4rem;
                            }

                            span {
                                font-size: 0.8rem;
                                font-weight: 400;
                            }
                        }

                        .textLine {
                            width: 1px;
                            background-color: white;
                            margin: 0 10px;
                            height: 30px;
                            box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5);
                        }

                        p {
                            font-size: 1.2rem;
                            text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
                            font-weight: 400;
                            white-space: nowrap;

                            @media only screen and (max-width: 450px) {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .redeem {
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(
                        90deg,
                        $neonOrange,
                        $neonYellow
                    );
                    border-radius: 35px;
                    gap: 0.5rem;
                    padding: 17px 20px;
                    border: none;
                    box-sizing: border-box;
                    font-size: 1.6rem;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
                    font-weight: 500;
                    white-space: nowrap;
                    width: 100%;
                    box-sizing: border-box;
                    min-width: 0;
                    min-height: 0;
                    box-shadow: 0px 0px 2px 0px $neonYellow;

                    @media only screen and (max-width: 450px) {
                        width: 100%;
                        font-size: 1.2rem;
                        padding: 17px 30px;
                        box-sizing: border-box;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    span {
                        font-size: 0.5rem;
                        font-weight: 400;

                        @media only screen and (max-width: 450px) {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }

    .pointsShop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .pointsShopTop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .pointsShopTitle {
                font-size: 4rem;
                background: linear-gradient(
                    90deg,
                    $neonBlue,
                    $neonPurple,
                    $neonPurple,
                    $neonBlue
                );
                background-clip: text;
                color: transparent;
                text-shadow: 0px 0px 5px rgba($neonPurple, 0.25);
                background-size: 200% 200%;
                animation: gradient-animation 1s linear infinite;

                @media only screen and (max-width: 450px) {
                    font-size: 2.5rem;
                }
            }
            .titleLine {
                width: 100%;
                height: 1px;
                margin: 1rem 0;
                background: $gradBluePurple2;
                box-shadow: 0px 0px 5px 0px $neonPurple;
            }
        }

        .shopButtons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            .nitroBasic,
            .nitroPremium,
            .customRole {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                box-sizing: border-box;
                background: $gradBluePurple;
                border-radius: 45px;
                box-shadow: 0px 0px 4px 0px $blurple;
                gap: 1rem;
                padding: 17px 20px;
                border: none;
                box-sizing: border-box;
                width: 35rem;

                @media only screen and (max-width: 450px) {
                    width: 95vw;
                    gap: 0.5rem;
                }

                img {
                    height: 45px;

                    @media only screen and (max-width: 450px) {
                        height: 40px;
                    }
                }

                .rewardButtonText {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        font-size: 1.6rem;
                        text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
                        font-weight: 500;
                        white-space: nowrap;

                        @media only screen and (max-width: 450px) {
                            font-size: 1.1rem;
                        }
                    }

                    .buttonLine {
                        width: 1px;
                        background-color: white;
                        margin: 0 15px;
                        height: 40px;
                        box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5);

                        @media only screen and (max-width: 450px) {
                            margin: 0 10px;
                        }
                    }

                    p {
                        font-size: 1rem;
                        text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
                        font-weight: 400;
                        white-space: nowrap;

                        @media only screen and (max-width: 450px) {
                            font-size: 0.6rem;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                        90deg,
                        $neonBlue,
                        $neonPurple,
                        $neonPurple,
                        $neonBlue
                    );
                    background-size: 200% 200%;
                    animation: gradient-animation 3s linear infinite;
                }
            }
        }
    }
}

.noUserRewards {
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
}

.rewardsAlert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 100;
    background: white;
    padding: 15px 35px;
    border-radius: 15px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;

    p {
        color: black;
        font-size: 1.1rem;
        text-shadow: 0px 0px 1px black;
        font-weight: 400;
        padding-right: 15px;
        padding-top: 3px;
    }
}

.alertHidden {
    animation: fadeOut 0.5s forwards;
}

.alertVisible {
    animation: slideDown 0.5s forwards;
}

.redeemingScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 40;
}

@keyframes slideDown {
    from {
        transform: translateX(-50%) translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(0);
        display: none;
    }
}
