@import "../../variables";

footer {
    height: 150px;
    width: 100%;
    background: $darkerBlue;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: end;

    p {
        font-size: 0.9rem;
        opacity: 0.8;
    }

    .links {
        display: flex;
        gap: 1rem;

        img {
            height: 35px;
            opacity: 0.8;
        }
    }
}
