$darkBlue: #333359;
$darkerBlue: #1f202d;
$neonRed: #ff4343;
$neonOrange: #ff8e51;
$neonYellow: #fff953;
$neonGreen: #53ff67;
$neonPurple: #e251ff;
$blurple: #5965f1;
$cyan: #36ffd7;
$blue: #59b7f1;
$neonBlue: #6590ff;
$rainbowNeon: linear-gradient(
    90deg,
    $neonRed,
    $neonOrange,
    $neonYellow,
    $neonGreen,
    $neonBlue,
    $neonPurple,
    $neonRed
);
$gradYellowBlue: linear-gradient(
    90deg,
    $neonYellow 0%,
    $neonGreen 50%,
    $neonBlue 100%
);
$gradBluePurple: linear-gradient(90deg, $neonBlue 0%, $neonPurple 100%);
$gradBluePurple2: linear-gradient(90deg, #80b7ff 0%, #dd87ff 100%);
$gradRedYellow: linear-gradient(90deg, $neonRed 0%, $neonYellow 100%);
